/* you can make up upload button and sample style by using stylesheets */

.ant-upload-select-picture-card i {
    font-size: 32px;

}

.upload{
    margin-top: 20px;
    width: 100%;
}
.image-uploader > .ant-upload {
    width: 100%;
    height: 128px;
  }