.register-form {
    margin: 10px;
    text-align: center;
    position: relative;
    align-content: center;
    top: 80px;
    left: 20%;
    width: 50%;
}
.header-register{
    font-family: 'Segoe UI';
    font-size: 400%;
    text-align: center;
    position: relative;
    top: 13vh;
    font-weight: 30;
    font-style: italic;
}
.register-form-button{
    position: relative;
    left: 40%;
    width: 60%;
}